@model RoomTypeVM

@{
    var room = Model;
    var discount = Math.Round((1 - room.RoomDiscount) * 10, 1);
    var roomPrice = Math.Ceiling(room.RoomPrice); //Math.Round(room.RoomPrice, 0, MidpointRounding.AwayFromZero);
    var roomNowPrice = Math.Ceiling(room.RoomNowPrice); //Math.Round(room.RoomNowPrice, 0, MidpointRounding.AwayFromZero);
}
<div class="room-type mb-4">
    <div class="room-type-title">
        <h5>@room.RoomName</h5>
    </div>
    <div class="container wrap-1100">
        <div class="row">
            <div class="col-3 d-flex flex-column">
                <p>房型摘要</p>
                <img src="~/Asset/images/HotelDetail/Room/room03.jpg">
                <a href="" class="fz-14 mt-1">查看房間照片&設施</a>
                <div class="service-group mt-4">
                    @if (room.WiFi)
                    {
                        <div class="d-flex align-items-center mb-2 color-green">
                            <i class="fas fa-wifi me-3"></i>
                            <span class="fz-14">免費Wi-Fi</span>
                        </div>
                    }
                    @foreach (var item in room.RoomBed)
                    {
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-bed me-3"></i>
                            <span class="fz-14">@item.Amount 張 @item.Name</span>
                        </div>
                    }
                    @*<div class="d-flex align-items-center mb-2">
                            <i class="fas fa-bed me-3"></i>
                            <span class="fz-14">@Model.BedAmount 張 @Model.BedName</span>
                        </div>*@

                    <!--<div class="d-flex align-items-center mb-2">
                        <i class="fas fa-ruler-horizontal me-3"></i>
                        <span class="fz-14">客房面積：<span> 52平方公尺/560平方英尺</span></span>
                    </div>-->
                    <!-- <div class="d-flex align-items-center mb-2"><i class="fas fa-city me-3"></i><span class="fz-14">景觀：市景
                        </span>
                    </div> -->
                    @if (room.NoSmoking)
                    {
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-smoking-ban me-3"></i>
                            <span class="fz-14">禁菸房</span>
                        </div>
                    }
                    <div class="d-flex align-items-center mb-2">
                        <i class="fas fa-bath me-3"></i>
                        <span class="fz-14">@room.BathroomName</span>
                    </div>
                    @*<div id="hover-equim-serv" @mouseover="hover=true" @mouseleave="hover=false">*@
                    <div class="d-flex align-items-center mb-2 color-blue">
                        <i class="far fa-plus-square me-3"></i>
                        <span class="fz-14">看看所有設施與服務</span>
                    </div>
                    <!--<div class="equim-serv" v-show="hover">
                        ddd
                    </div>-->
                    @*</div>*@
                </div>
            </div>

            <div class="col-9">
                <div class="row field">
                    <div class="col-4">
                        <p>優惠內容&取消規定</p>
                    </div>
                    <div class="col-2">
                        <p>人數限制</p>
                    </div>
                    <div class="col-2">
                        <p>每晚價格/每房</p>
                    </div>
                    <div class="col-1">
                        <p>房數</p>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row room-case one-case pe-3 mb-3">
                    <div class="col-4 pt-2">
                        <p class="fz-12 fw-bold mb-2">優惠專案</p>
                        @if (room.Breakfast)
                        {
                            <p class="fz-14 mb-2">
                                <i class="fas fa-check color-green fz-14 me-2"></i>
                                包含早餐 @*-
                                    <span class="red-del-line fw-bold fz-14">NT$ 950</span>
                                    <span class="fw-bold color-green"> 包含</span>*@
                            </p>
                        }

                        @if (room.WiFi)
                        {
                            <p class="fz-14 mb-2">
                                <i class="fas fa-check color-green fz-14 me-2"></i>
                                免費Wi-Fi
                            </p>
                        }
                        @*<p class="fz-14 mb-2">
                                <i class="fas fa-check color-green fz-14 me-2"></i>
                                【促銷價】點此查看取消條款
                            </p>*@
                    </div>
                    <div class="col-2 pt-2 color-gray text-center">
                        <div>
                            <span class="fz-14">@room.Adult x </span>
                            <i class="fas fa-male fz-20"></i>
                        </div>
                        <div>
                            <span class="fz-14">@room.Child x </span>
                            <i class="fas fa-child fz-16"></i>
                        </div>
                        <p class="fz-12">
                            2位未滿3歲兒童可<span class="color-green fw-bold">免費</span>同住
                        </p>
                    </div>
                    <div class="col-2 pt-2 text-end ps-0">
                        <p class="text-start mb-3"><span class="room-case-discount">今日 @discount 折！</span></p>
                        <del class="room-case-price fz-16 color-gray fw-bold">
                            <span class="fz-16">NT$</span>
                            @roomPrice
                        </del>
                        <p class="room-case-price">
                            <span class="fz-16">NT$</span>
                            @roomNowPrice
                        </p>
                        <p class="color-gray fz-12">每晚低至</p>
                    </div>
                    <div class="col-1 pt-2 text-center">
                        @*<p>@room.RoomOrder</p>*@
                        <select name="" id="">
                            <option value="@room.RoomOrder" selected>@room.RoomOrder</option>
                            @*<option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>*@
                        </select>
                    </div>
                    <div class="col-3 pt-2 text-end">
                        @Html.ActionLink("保留", "SetCheckOutData", new
                        {
                            hotelId = room.HotelID,
                            roomId = room.RoomID,
                            roomName = room.RoomName,
                            breakfast = room.Breakfast,
                            bedType = "雙人床",
                            adult = room.Adult,
                            child = room.Child,
                            roomOrder = 2,
                            roomPrice = roomPrice,
                            roomDiscount = discount,
                            roomNowPrice = Math.Round(room.RoomNowPrice * 2, 0, MidpointRounding.AwayFromZero)
                         }, new { @class = "keep-btn btn fz-14 py-2 mb-2" })
                        @*<button class="keep-btn btn fz-14 py-2 mb-2">保留</button>*@
                        <button class="cart-btn btn fz-14 py-2 mb-5">加入購物車</button>
                        <!-- <p class="green">一次訂兩間更划算</p>
                        <p class="hurry2min">訂房只需2分鐘</p> -->
                        <p class="remain fw-bold fz-14 color-red mb-4">本站剩 @room.RoomLeft 間！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>