@model IEnumerable<BS_Adoga.Models.DBContext.Hotel>

@{
    ViewBag.Title = "HotelLList";
    Layout = "~/Views/Shared/_FunctionPage.cshtml";
}

<h2>HotelLList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelEngName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelDistrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelAddress)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HotelAbout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Star)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logging)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HotelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelEngName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelDistrict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelAddress)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.HotelAbout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Star)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logging)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HotelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HotelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HotelID })
        </td>
    </tr>
}

</table>
