@model IEnumerable<BS_Adoga.Models.DBContext.Room>
@using BS_Adoga.Repository
@{
    ViewBag.Title = "HotelRoomsIndex";
    Layout = "~/Views/Shared/_FunctionPage.cshtml";

    //舊取得hotelname方式 改用ViewBag從action取得
    //string hotelname;
    //if (@Model.FirstOrDefault().Hotel.HotelName == null)
    //{
    //    hotelname = string.Empty;
    //}
    //else { hotelname = @Model.FirstOrDefault().Hotel.HotelName; }

}

@section topCSS
{
    <link href="~/Asset/StartbootstrapAdminPages/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section endJS
{
    <!-- Page level plugins -->
    <script src="~/Asset/StartbootstrapAdminPages/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Asset/StartbootstrapAdminPages/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Asset/StartbootstrapAdminPages/js/demo/datatables-demo.js"></script>
}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">


        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">@ViewBag.hotelname 房型清單</h1>
            <p class="mb-4">
                房型
            </p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                @*<div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.ActionLink("建立飯店設施", "HotelFacilityCreate", null, htmlAttributes: new { @class = "btn btn-primary" })</h6>
                    </div>*@
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    @*<th>@Html.DisplayNameFor(model => model.RoomID)</th>*@
                                    @*<th>@Html.DisplayNameFor(model => model.HotelID)</th>*@
                                    <th>@Html.DisplayNameFor(model => model.RoomName)</th>
                                    <th>@Html.DisplayNameFor(model => model.NumberOfPeople)</th>
                                    <th>@Html.DisplayNameFor(model => model.RoomCount)</th>
                                    <th>@Html.DisplayNameFor(model => model.RoomPrice)</th>
                                    <th>床型</th>
                                    <th>@Html.DisplayNameFor(model => model.BathroomType.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.NoSmoking)</th>
                                    <th>@Html.DisplayNameFor(model => model.Breakfast)</th>
                                    <th>@Html.DisplayNameFor(model => model.WiFi)</th>
                                    <th>@Html.DisplayNameFor(model => model.TV)</th>
                                    @*<th>@Html.DisplayNameFor(model => model.Logging)</th>*@
                                    <td>房間日期展開</td>
                                    <td>床型增刪</td>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    @*<th>@Html.DisplayNameFor(model => model.RoomID)</th>*@
                                    @*<th>@Html.DisplayNameFor(model => model.HotelID)</th>*@
                                    <th>@Html.DisplayNameFor(model => model.RoomName)</th>
                                    <th>@Html.DisplayNameFor(model => model.NumberOfPeople)</th>
                                    <th>@Html.DisplayNameFor(model => model.RoomCount)</th>
                                    <th>@Html.DisplayNameFor(model => model.RoomPrice)</th>
                                    <th>床型</th>
                                    <th>@Html.DisplayNameFor(model => model.BathroomType.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.NoSmoking)</th>
                                    <th>@Html.DisplayNameFor(model => model.Breakfast)</th>
                                    <th>@Html.DisplayNameFor(model => model.WiFi)</th>
                                    <th>@Html.DisplayNameFor(model => model.TV)</th>
                                    @*<th>@Html.DisplayNameFor(model => model.Logging)</th>*@
                                    <td>房間日期展開</td>
                                    <td>床型增刪</td>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr onclick="location.href = '/Hotel/Room/Edit/@item.HotelID-@item.RoomID'">
                                        @*<td>@Html.DisplayFor(modelItem => item.RoomID)</td>*@
                                        @*<td>@Html.DisplayFor(modelItem => item.HotelID)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.RoomName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NumberOfPeople)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RoomCount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RoomPrice)</td>
                                        @*顯示所有床型名稱跟數量*@
                                        @{
                                            FunctionRepository _repository = new FunctionRepository(new AdogaContext());
                                            string BedNameString = string.Empty;
                                            foreach (var item2 in _repository.GetRoomBeds(item.RoomID))
                                            {
                                                BedNameString = string.Join("", BedNameString + $"{item2.Name}X{item2.Amount}，");
                                            }
                                            if (!string.IsNullOrEmpty(BedNameString))
                                            {
                                                BedNameString = BedNameString.Remove(BedNameString.LastIndexOf("，"), 1);
                                                <td>@BedNameString</td>
                                            }
                                            else
                                            {
                                                BedNameString = "空";
                                                <td class="btn-danger">@BedNameString</td>
                                            }
                                        }
                                        @*<td class="text-danger">@BedNameString</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.BathroomType.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NoSmoking)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Breakfast)</td>
                                        <td>@Html.DisplayFor(modelItem => item.WiFi)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TV)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.Logging)</td>*@
                                        <td>@Html.ActionLink("每日房間清單", "RoomDetailsIndex", new { roomid = item.RoomID }, htmlAttributes: new { @class = "btn btn-danger" })</td>

                                        <td>
                                            @Html.ActionLink("新增床型", "RoomBedCreate", new { roomid = item.RoomID }, htmlAttributes: new { @class = "btn btn-primary" })
                                            @Html.ActionLink("刪除床型", "RoomBedDelete", new { roomid = item.RoomID }, htmlAttributes: new { @class = "btn btn-danger" })
                                        </td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->
